html {
  font-size: 1em;
}

h1 {
  font: Tisa, Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

body {
  margin: 0rem 1rem;
}

article {
  width: fit-content;
  min-height: calc(100vh - 4rem);
  margin: 1rem auto;
}
